.container {
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    padding: 2px 5px;
    font-size: 20px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
    padding: 0;
}

.list { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 5px;
    gap: 10px;
    max-height: 20rem;
}

.listItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.checkbox {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.addProductBtn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

.addProductBtn:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: .3s ease;
}

.addProductBtn:hover:after {
    width: 100%;
}

.productForm {
    position: relative;
    cursor: default; 
}

.nameInput {
    width: 7.5rem;
    font-size: 1.2rem;
}

.valueInput {
    width: 5.2rem;
    font-size: 1.2rem;
}

.btn {
    font-size: 2rem;
    margin-left: 25px;
    text-align: center;
    transition: color .3s ease;
}

.close:hover {
    color: red
}

.confirm:hover {
    color: green;
}

.inputLabel {
    font-size: 1.2rem;
    margin-left: 5px;
}