.tableWrapper {
    display: flex;
    flex-direction: column;
}

.tableHeader {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 5px;
}

.table {
    width: calc(100% + 6px);
    max-height: 200px;
    overflow-y: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 5px 0;
}

.column {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 15rem;
    padding: 0 5px;
}

.input {
    max-width: 4rem;
}

.inputLabel {
}