.tableWrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    max-height: 20rem;
}

.tableHeader {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 5px;
}

.table {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
}

.column {
    width: 100%;
    max-width: 12rem;
    text-align: center;
}

.input {
    width: 100%;
    text-align: center;
}


