.tableWrapper {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    font-size: 1rem;
}

.tableHeader {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 5px;
    overflow-y: hidden;
    scrollbar-gutter: stable both-edges;
}

.table {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
}

.column {
    width: 100%;
    max-width: 12rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.inputValue {
    width: 50%;
    text-align: center;
}

.inputCount {
    width: 30%;
    text-align: center;
}

.inputValue:focus,
.inputCount:focus {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
 .tableWrapper {
    font-size: 1.2rem;

 }
}