.form {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 35rem;
}

.formLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
}

.formCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem 0;
}

.formRight {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 2rem;
}

.sectionTitle {
    font-size: 2rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    position: relative;
    max-width: 25rem;
}

.input {
    font-size: 1.5rem;
    max-width: 80%;
    padding: .5rem;
    border-bottom: 3px solid var(--primary-color);
    display: flex;
}

.input:disabled {
    opacity: .3;
}


.select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
}

.sumValue {
    width: 100%;
}

.isPaid {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.checkbox {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.addBtn {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    box-shadow: 0 0 8px 4px var(--primary-color), inset 0 0 6px 4px var(--primary-color);
    border: 2px solid var(--primary-font);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
    bottom: 2rem;
    left: 50%;
}

.addBtn:hover {
    border-radius: 20px;
    transition: .3s ease;
}

.bottomBtns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.categoriesList {
    min-width: 50%;
    max-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 2;
    border: 1px solid var(--primary-color);
    border-top: none;
    padding: 5px;
}

.categoryItem {
    padding: 0 5px; 
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 8px;
}

.categoryItem:hover {
    background: var(--primary-color);
    color: var(--primary-font)
}