.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 10px 100px;
}

.topWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
}

.gridWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 50px;
}


.slideBtn {
    height: 20px;
    width: 50px;
    font-size: 2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

/**** disabled buttons ****/
.slideBtn:disabled, .slideBtn[disabled] {
    cursor: none;
}

/**** animations ****/
.slideBtn:hover .slideInRight {
    animation:  slide-out-right 1s infinite;
}

.slideBtn:hover .slideOutRight {
    animation: slide-in-right 1s infinite;
}

.slideBtn:hover .slideInLeft {
    animation:  slide-out-left 1s infinite;
}

.slideBtn:hover .slideOutLeft {
    animation: slide-in-left 1s infinite;
}

.slideOutRight,
.slideOutLeft {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -50%);
}

.slideInLeft,
.slideInRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slide-out-right {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(180%, -50%);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translate(-200%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-200%, -50%);
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate(200%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}