.container {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 100px;
    position: relative;
}

.themeBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.linksList {
    display: flex;
    align-items: center;
    gap: 50px;
}

.link {
    font-size:2rem;
    position: relative;
    padding: 5px;
}

.link::after,
.active:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 2px;
    background: var(--primary-font);
    transition: width .3s ease;
}

.active:after {
    width: 100%;
    box-shadow: 0 0 6px 2px var(--primary-color);
}



.link:hover:after {
    width: 100%;
    box-shadow: 0 0 6px 2px var(--primary-color);
    transition: width .3s ease;
}

.additionalLinks {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0 0 2px 1px var(--primary-font);
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}