.carousel {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20rem;
    overflow: hidden;
    touch-action: none;
}

.itemWrapper {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    width: 25rem;
    min-height: 20rem;
    padding: 40px;
    font-size: 1rem;
}

.item {
    height: 100%;
    padding: 20px;
    border: 2px solid var(--primary-font);
    border-radius: 20px;
    box-shadow: 0 0 10px 6px var(--primary-color), inset 0 0 10px 2px var(--primary-color);
    cursor: pointer;
    transition: .3s ease;
}



.link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.itemName {
    font-size: 2rem;
}

.itemDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.itemPerson {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width: 1024px) {
    .carousel {
    }
}

@media screen and (min-width: 768px) {
    .itemWrapper {
        transform: translate(-150%, -50%);
    }
}

@media screen and (min-width: 1024px) {
    .item:hover {
        transform: translate3d(-12px, -12px, -150px);
        filter: drop-shadow(6px 6px 12px #7c7c7c);
        transition: .3s ease;
    }
}