.btn {
    padding: .5rem 1rem; 
    font-size: 1.5rem;
    border-radius: 1rem;
    transition: border-radius .3s ease;
    box-shadow: 0 0 6px 2px var(--primary-color), inset 0 0 2px 1px var(--primary-color);
}

.btn:hover {
    border-radius: 1.8rem;
    transition: border-radius .3s ease;
}

.dark {
    /* border: 2px solid var(--primary-color); */
}

.light {
    /* border: 2px solid var(--primary-color) */
}